{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/taskcreation.css' %}" />
</head>
<body>
    <form action="{%url 'taskcreation'%}" method="post"> 
        {% csrf_token %}
        <input type="text" placeholder="Username" id="username" name="username" > <br>
        <input type="text" placeholder="title" id="title" name="title"> <br>
        <input type="text" placeholder="description" id="description" name="description"> <br>
        <input type="text" placeholder="status" id="status" name="status"> <br>
        <input type="date" placeholder="duedate" id="duedate" name="duedate"> <br>
        <input type="submit" value="Submit">
      </form>

</div>

</body>
</html>